* {
  box-sizing: border-box;
}
[class*="col-"] {
  width: 100%;
}
.menu-item {
	width: 50%;
	float: left;
}
h3 {
	text-align: center;
	padding: 2%;
}
h1 {
	text-align: left;
	padding: 2%;
	color: blue;
}
p {
	text-align: center;
}
.xsbackcolor {
	background-color: black;
}
.mustsee_container_xs {
	padding-top: 1%;
	padding-bottom: 1%;
}
.xscontent {
	padding-top: 30%;
	position: static;
	}
.font-xs {
	font-size: 50%;
	color: blue;
	text-decoration: bold;
	text-align: center;
}
@media only screen and (min-width: 768px) {
	.menu-item {
		width: 33.33%;
		float: left;
	}
	.xsbackcolor {
		background-color: black;
	}
	.vitri {
		position: absolute;
		right: 0;
	}
	.mustsee_container_xs {
		padding-top: 2%;
		padding-bottom: 2%;
	}
	.xscontent {
		padding-top: 20%;
		position: static;
	}	
	.font-xs {
		font-size: 75%;
		color: blue;
		text-decoration: bold;
		text-align: center;
	}
	.col-sm-6 {
		width: 50%;
		float: left;
	}
}
@media only screen and (min-width: 992px) {
	.menu-item {
		width: 16.66%;
		float: left;
	}
	.col-md-4 {
		width: 33.33%;
		float: left;
	}
	.backcolor {
		background-color: RGB(192,192,192);
		margin-left: 4%;
		margin-right: 4%;
		padding: 0;
	}
	.footcolor {
		background-color: Azure;
		margin: 0;
		padding: 0;
		position: relative;
		float: left;
	}
	.vitri {
		position: absolute;
		right: 2%;
	}
	.mdbackcolor {
		background-color: rgb(255,255,255);
		margin-left: 0;
		margin-right: 0;
	}
	
	.mustsee_container_xs {
		padding-top: 3%;
		padding-bottom: 3%;
	}	
	.font-xs {
		font-size: 100%;
		color: blue;
		text-decoration: bold;
		text-align: center;
	}
	.xscontent {
	padding-top: 5%;
	position: static;
	}

}

body {
	font-family: 'Roboto', sans-serif;
	background-color: black;
	color: white;
}